#root {
  /* max-width: 1320px; */
  /* width: 100%; */
  /* margin: auto; */
  background-color: white;
  /* box-shadow: 5px 5px #595959; */
  /* min-height: 100vh; */
}

body {
  box-sizing: border-box;
  width: 100%;
  background-color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.explainAlign {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

h4 {
  text-align: center;
}

h3 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
  font-weight: bold;
}

.logo {
  width: 120px;
}

.active {
  border-bottom: 2px solid;
}

.nav-item a {
  text-decoration: none;
  font-size: 22px;
  color: #000;
}

div button:nth-child(1) {
  margin-right: 25px;
}

.surveyList {
  list-style: none;
  padding: 30px 0px;
  border-bottom: 2px solid;
}

footer {
  background-color: #c5c6c7;
  padding-top: 10px;
}

.descTxt {
  font-size: 20px;
}

.surveyDesc {
  display: flex;
  justify-content: space-between;
}

.inputField {
  width: 500px;
}

.home {
  padding: 160px 0px;
  display: flex;
  align-items: center;
}

.welcomeTxt {
  font-size: 3.5em;
  line-height: 1;
  font-weight: 600;
}

.siteTxt {
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 50px;
}

.sequenceTxt {
  font-size: 20px;
}

.innerTxt {
  text-align: center;
  min-height: 200px;
}

.how {
  padding: 80px 0px;
}

.steps {
  display: flex;
  align-items: center;
  padding: 50px 0px;
}

.easy {
  display: flex;
  align-items: center;
  padding: 50px 0px;
}

.surveyList button {
  margin-right: 20px;
}

.registration-container {
  width: 70%;
  margin: 0 auto;
}

.registration {
  padding: 160px 0px;
  min-height: 80vh;
}

.login-container {
  width: 70%;
  margin: 0 auto;
}

.login {
  padding: 160px 0px;
  min-height: 80vh;
}

.button_group {
  display: flex;
  justify-content: end;
  margin-top: 50px;
}

.homebutton_group {
  margin-top: 50px;
}

.my_surveys {
  padding: 100px 0px;
  min-height: 80vh;
}

.questions {
  padding: 80px 0px;
  min-height: 80vh;
}

.update {
  padding: 80px 0px;
  min-height: 80vh;
}

.add_questions {
  padding: 80px 0px;
  min-height: 80vh;
}

.create_survey {
  padding: 80px 0px;
  min-height: 80vh;
}

.create-container {
  width: 70%;
  margin: 0 auto;
}

.run_survey {
  padding: 80px 0px;
  min-height: 80vh;
}

@media (max-width: 991px) {
  .welcomeTxt {
    font-size: 2.5em;
  }
}

@media (max-width: 770px) {
  .home {
    padding: 100px 0px;
  }

  .welcomeTxt {
    font-size: 2.5em;
  }

  .homebutton_group {
    margin-bottom: 50px;
  }

  .siteTxt {
    font-size: 1.8em;
  }

  .how {
    padding: 40px 0px;
  }

  .innerTxt {
    min-height: 150px;
  }
}
